@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Anaheim', sans-serif !important;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

.sidebar {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
