.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.video-item {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 205px;
}

.video-item:hover {
  transform: scale(1.03);
}

.video-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  /* border-bottom: 1px solid #000000; */
}

h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  color: #ffffff;
  text-align: left;
  line-height: 1.4;
}

p.video-date {
  font-size: 0.9rem;
  padding: 0 1rem 1rem;
  color: #777;
  text-align: left;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 50rem;
}

@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 50rem;
  }
}
