@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sauce+Code&display=swap");

.navbar-container {
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #212529;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body {
  margin-top: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-image {
  height: 40px;
  border-radius: 20px;
  transform: translateX(350px);
}

.logo-text {
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Alfa Slab One", sans-serif;
  color: #ffffff;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  transform: translateX(-700px);
  position: relative;
  font: 14px/28px D-DIN-Bold, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.nav-links a:hover {
  color: #007bff;
}

.nav-links .active {
  color: #007bff;
}

.user-info {
  display: none;
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  color: #003366;
  cursor: pointer;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  position: relative;

  transition: all 0.3s;
  display: block;
  top: 50%;
  right: 50px;
  width: 16px;
  height: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(50%);
  z-index: 55;
  padding: 0 8px;
  border: 0;
  background: 0 0;
  appeareance: none;
  -webkit-transition: opacity 0.2s linear 0.1s;
  transition: opacity 0.2s linear 0.1s;
}

.hamburger-icon:before,
.hamburger-icon:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s;
}

.hamburger-icon:before {
  top: -8px;
}

.hamburger-icon:after {
  top: 8px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: #212529;
  color: white;
  display: none;
  flex-direction: column;
  z-index: 2000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.mobile-menu.open {
  display: flex;
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.close-menu {
  background: none;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.mobile-nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.mobile-nav-links a:hover {
  color: #007bff;
}

@media (max-width: 1880px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(0px);
  }
  .nav-links a {
    transform: translateX(00px);
  }
}

@media (max-width: 1496px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(150px);
  }
  .nav-links a {
    transform: translateX(100px);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background-color: #212529;
    color: white;
    display: none;
    flex-direction: column;
    z-index: 2000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  }
  .mobile-menu {
    width: 70%;
    height: 100%;
  }
}

@media (max-width: 1410px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(0px);
  }
}

@media (max-width: 1372px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(0px);
  }
}

@media (max-width: 1280px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(0px);
  }

  .mobile-menu {
    width: 24%;
    height: 100%;
  }
}

@media (max-width: 778px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(0px);
  }
}

@media (max-width: 776px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(0px);
  }
}

@media (max-width: 774px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(0px);
  }
}

@media (max-width: 770px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(0px);
  }
}

@media (max-width: 768px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .logo-image {
    transform: translateX(0px);
  }

  @media (max-width: 568px) {
    .mobile-menu-button {
      display: block;
    }

    .nav-links {
      display: none;
    }
    .logo-image {
      transform: translateX(0px);
    }
  }

  @media (max-width: 484px) {
    .mobile-menu-button {
      display: block;
    }

    .nav-links {
      display: none;
    }
    .logo-image {
      transform: translateX(0px);
    }
  }

  @media (max-width: 484px) {
    .mobile-menu-button {
      display: block;
    }

    .nav-links {
      display: none;
    }
    .logo-image {
      transform: translateX(0px);
    }
  }

  .mobile-menu {
    width: 50%;
    height: 100%;
  }
}
