@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sauce+Code&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 1rem 11rem;
  background-color: #212529;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-text {
  font-family: "Alfa Slab One", serif;
  font-size: 1rem;
  font-weight: 100;
  color: #ffffff;
}

.logo-image {
  height: 3rem;
  border-radius: 50px;
}

.nav-links {
  font-size: larger;
  font-family: "Open Sauce Code", monospace; /* Fonte alterada para Open Sauce Code */
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 250px;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007bff;
}

.nav-links .active {
  color: #007bff;
}

button {
  background-color: #0b046c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger-icon {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  position: relative;
}

.hamburger-icon:before,
.hamburger-icon:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  left: 0;
}

.hamburger-icon:before {
  top: -8px;
}

.hamburger-icon:after {
  top: 8px;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #1c1c1c;
  width: 100%;
  padding: 1rem 0;
  z-index: 1500;
}

.nav-links a {
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .logo {
    flex-direction: column;
    align-items: center;
  }

  .logo-text {
    font-size: 1.2rem;
    text-align: center;
  }

  .logo-image {
    height: 2.5rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .mobile-menu-button {
    display: block;
  }

  .nav-links.open {
    display: flex;
  }
}
