.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #191a23;
}

.video-player {
  position: sticky;
  top: -20px;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.video-player iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
