.playlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  padding: 25px;
  background-color: #191a23;
  color: #fff;
  margin: 50px;
}

.playlist-card {
  background-color: #1f1f1f;
  border-radius: 50px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-card img {
  width: 100%;
  height: auto;
  display: block;
}

.playlist-info {
  padding: 5px;
}

.playlist-info h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.playlist-info p {
  color: #1f1f1f;
  font-size: 0.9em;
}

.playlist-card a {
  text-decoration: none;
  color: inherit;
}
