.video-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  margin: 50px;
  background-color: transparent;
  border-radius: 10px;
  padding: 30px;
}

.video-item {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 205px;
}

.video-item:hover {
  transform: scale(1.03);
}

.video-item img {
  width: 100% !important;
  height: 150px !important;
  border-radius: 8px !important;
  object-fit: cover !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  color: #ffffff;
  text-align: left;
  line-height: 1.4;
}

p.video-date {
  font-size: 0.9rem;
  padding: 0 1rem 1rem;
  color: #777;
  text-align: left;
}

.modal {
  background-color: #0b046c;
  color: white;
  padding: 50px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 1000;
}

.modal-overlay {
  z-index: 999;
}

.button-modal-close {
  transform: translateX(15px);
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 100px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-internal {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 100px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-internal:hover {
  background-color: #000000;
}

.btn-internal:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.skeleton {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  border-radius: 5px;
  height: 205px;
  position: relative;
}

.skeleton-thumbnail-video {
  background-color: #555;
  width: 100%;
  height: 60%;
  border-radius: 5px;
  animation: skeleton-loading 1.2s infinite;
}

.skeleton-title-video {
  background-color: #555;
  width: 80%;
  height: 15px;
  margin: 0.5rem;
  border-radius: 4px;
  animation: skeleton-loading 30.2s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: #555;
  }
  50% {
    background-color: #777;
  }
  100% {
    background-color: #555;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 50rem;
}

@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 50rem;
  }
  .button-modal-close {
    transform: translateY(15px);
    padding: 10px 104px;
  }
}
