.player-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #191a23;
  padding: 2rem;
  box-sizing: border-box;
}

.video-player {
  width: 100%;
  max-width: 600%;
  aspect-ratio: 16 / 9;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.video-player iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.video-player {
  position: relative;
}

.video-info {
  margin-top: 20px;
}

.video-info h2 {
  font-size: 1.5em;
  margin: 0;
}

.video-info p {
  margin: 5px 0;
}

.sinopse {
  font-size: 0.9em;
  color: #aaa;
}

.video-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.nav-scroll {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: calc(100% - 80px);
  margin: 0 auto;
  padding: 10px 0;
}

.nav-scroll-button {
  position: sticky;
  background: #333;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px -2px;
  cursor: pointer;
  z-index: 2;
}

.back-button {
  background-color: #0b046c;
  color: white;
  padding: 10px 2px;
  margin: 5px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.skeleton-loader-video {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: loading 30.5s infinite;
  height: 315px;
  width: 560px;
  border-radius: 8px;
  margin: 10px auto;
  display: block;
}

@keyframes loading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

.nav-scroll-button:hover {
  background: #444;
}

.nav-scroll::-webkit-scrollbar {
  height: 8px;
}

.video-navigation::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.video-navigation::-webkit-scrollbar-track {
  background: #222;
}
