.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../login/img/NettStudios\ \(1\).svg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.form-card {
  background: #023177;
  color: #ffffff;
  font-weight: bold;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  color: #ffffff;
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.2rem;
  width: 100%;
}

.btn-primary {
  width: 100%;
  padding: 0.8rem;
  background-color: #0099ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-primary:hover {
  background-color: #000000;
  color: #ffffff;
}

.switch-form {
  margin-top: 1rem;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.9rem;
}

.switch-form:hover {
  text-decoration: underline;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  padding: 0.8rem;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
