.menu-item {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  color: #004aaa;
  /* background-color: #004aaa; */
}

.menu-item:hover {
  background-color: #004aaa;
  color: white;
}

.submenu-arrow {
  color: #004aaa;
}

.submenu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191a23;
  z-index: 999;
}

.submenu {
  list-style: none;
  padding: 20px;
}

.submenu li {
  margin: 10px 0;
}

.back-btn {
  /* background-color: white; */

  font-size: 18px;
  color: #004aaa;
  cursor: pointer;
  margin: 10px;
}

/* .back-btn:hover {
  background-color: #004aaa;

  color: white;
} */
