.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.news-articles {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.news-article {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  margin-bottom: 20px;
}
h1 {
  color: white;
}

p,
small {
  color: #ddd;
}
.news-article h2 {
  font-size: 24px;
  margin: 0;
}

.news-article h2 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.news-article h2 a:hover {
  color: blue;
}

.news-article h2 a:active {
  color: rgb(234, 234, 234);
}

.news-article p {
  font-size: 16px;
  color: #dddddd;
}

@media (max-width: 768px) {
  .news-article h2 {
    font-size: 20px;
  }

  .news-article p {
    font-size: 14px;
  }
}
