.videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 20px;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1200px;
}

.video-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.video-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.play-button {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 2;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: background 0.3s ease;
  z-index: 1;
}

.video-link:hover .play-button {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.video-link:hover .video-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.video-item img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s ease;
}

.video-status {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: 0 4px 4px 0;
  background: rgba(0, 0, 0, 0.7);
}

.load-more-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  margin-bottom: 50px;
}

.load-more-button {
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.load-more-button:hover {
  transform: translateY(-2px);
}

@media (max-width: 1280px) {
  .video-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1124px) {
  .video-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 920px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 820px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .video-item h3 {
    font-size: 0.75rem;
    min-height: 35px;
  }
}
