.menu-item {
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-item:hover {
  color: #2200ff;
}

.submenu {
  background-color: #ffffff;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  list-style: none;
}

.submenu li {
  padding: 5px 10px;
}

.submenu li a {
  color: #fff;
  text-decoration: none;
}

.submenu li a:hover {
  color: #2200ff;
}
