.home-container {
  background-color: #191a23;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.movie-card {
  background-color: #252634;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 250px;
  border-radius: 8px;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.custom-carousel .p-carousel-container {
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
}
