body {
  background-color: #191a23;

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.load-more {
  display: block;
  margin: 100px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #0056b3;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  border-radius: 0;
  object-fit: cover;
}

.section-title {
  text-align: center;
  padding: 30px;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.section-title-home {
  text-align: center;
  padding: 10px;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  color: white;
}

.video-section {
  margin-top: 40px;
}

.video-card {
  background: transparent;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-card iframe {
  width: 100%;
  height: 200px;
}

.video-title {
  text-align: center;
  margin: 10px 0;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.video-item {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 205px;
}

.video-item:hover {
  transform: scale(1.03);
}

.video-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  /* border-bottom: 1px solid #000000; */
}

h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  color: #ffffff;
  text-align: left;
  line-height: 1.4;
}

p.video-date {
  font-size: 0.9rem;
  padding: 0 1rem 1rem;
  color: #777;
  text-align: left;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 50rem;
}

@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 50rem;
  }
}

.video-item {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 205px;
}

.video-item:hover {
  transform: scale(1.03);
}

.video-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  /* border-bottom: 1px solid #000000; */
}

.video-item:hover {
  transform: scale(1.03);
}

.video-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  /* border-bottom: 1px solid #000000; */
}

h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  color: #000;
  text-align: left;
  line-height: 1.4;
}

p.video-date {
  font-size: 0.9rem;
  padding: 0 1rem 1rem;
  color: #777;
  text-align: left;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 50rem;
}

@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 50rem;
  }
}
