.home-container {
  color: #ffffff;
  padding: 20px;
}

.header {
  text-align: center;
}

.anime-section {
  margin: 20px 0;
  text-align: center;
}

.anime-section h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 10px;
}

.anime-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  width: 360px;
  height: 202px;
  margin: 10px;
}

.anime-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.anime-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.anime-item p {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  font-family: 'Anaheim';
  font-weight: bolder;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.continue-watching {
  margin-top: 20px;
}

h2 {
  font-family: 'Anaheim', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.banner {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.banner-text h2 {
  margin: 0;
  font-size: 2rem;
}

.banner-text p {
  margin: 5px 0 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .banner-text h2 {
    font-size: 1.5rem;
  }

  .banner-text p {
    font-size: 0.9rem;
  }

  .anime-grid {
    grid-template-columns: repeat(auto-fill, minmax(299px, 1fr));
  }

  .anime-item {
    width: 360px;
    height: 202px;
  }

  .banner {
    display: none;
  }
}

@media (max-width: 480px) {
  .banner-text h2 {
    font-size: 1.2rem;
  }

  .banner-text p {
    font-size: 0.8rem;
  }

  .anime-grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-content: center;
  }

  .anime-item {
    width: 100%;
    margin: 10px 0;
  }
}

.playlists-section {
  margin: 20px 0;
  text-align: center;
}

.playlists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  overflow: hidden;
}

.playlist-card {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.thumbnail-wrapper img {
  width: 100%;
  border-radius: 8px;
}

.playlist-number {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Anaheim';
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #121515;
  color: #ffffff;
  border-radius: 4px;
}

.pagination li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.pagination .active a {
  background-color: #007bff;
  color: white;
}

.pagination li.previous a,
.pagination li.next a {
  color: #ffffff;
}

@media (max-width: 600px) {
  .pagination li a {
    padding: 6px 12px;
  }

  .pagination li {
    margin: 0 3px;
  }
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
  font-weight: bolder;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.playlists-section h2,
.anime-section h2 {
  font-family: 'Anaheim', sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
}

.playlists-section h3,
.anime-section h3 {
  font-family: 'Anaheim', sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
}

.load-more {
  text-align: center;
  margin: 20px 0;
}

.load-more button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more button:hover {
  background-color: #0056b3;
}

.playlists-item {
  width: 360px;
  height: 202px;
  margin: 10px;
}

.categories-section {
  margin-top: 20px;
}

.categories-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Anaheim', sans-serif;
  font-size: 2rem;
}

.category-card {
  position: relative;
  width: 48%;
  margin: 0 0;
  margin-bottom: 48px;
  overflow: hidden;
  border-radius: 8px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.category-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.category-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}

.category-card:hover img {
  transform: scale(1.01);
}

.category-card span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.live-section {
  margin-top: 20px;
}

.live-videos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.live-thumbnail {
  width: 100%;
  text-align: center;
}

.live-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}

.live-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.live-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}

[data-aos] {
  opacity: 0;
}

.loading {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.video-player-modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.video-player-content {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 800px;
  position: relative;
  border-radius: 8px;
}

.video-player {
  width: 100%;
  height: auto;
}

.close {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.close:hover {
  color: #007bff;
}

@media (max-width: 600px) {
  .video-player-content {
    padding: 10px;
  }

  .close {
    font-size: 24px;
  }
}

@media (min-width: 601px) {
  .video-player-content {
    max-width: 1000px;
  }
}
