.video-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

/* .nav-scroll {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: calc(100% - 80px);
  margin: 0 auto;
  padding: 10px 0;
} */

/* .nav-scroll-button {
  position: sticky;
  background: #0b046c;
  font-size: larger;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 2;
} */

/* .nav-scroll-button:hover {
  background: #ffffff;
  color: black;
} */

/* .nav-scroll::-webkit-scrollbar {
  height: 8px;
} */

.video-navigation::-webkit-scrollbar-thumb {
  background-color: #d10303;
  border-radius: 4px;
}

.video-navigation::-webkit-scrollbar-track {
  background: #ba3a3a;
}
