.report-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 64px;
  background-color: #0a1520;
  border-radius: 8px;
  color: #fff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  min-height: 80vh;
}

.report-title {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.report-content {
  background-color: #282a36;
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.6;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  word-wrap: break-word;
}

.report-content.expanded {
  max-height: 1000px;
}

.report-actions {
  margin-top: 20px;
  text-align: center;
}

.download-button {
  background-color: #1761ff;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #ffffff;
  color: black;
}

.feedback-section {
  margin-top: 30px;
}

.feedback-textarea {
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #282a36;
  color: #fff;
  resize: vertical;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.toggle-button {
  background: none;
  border: none;
  color: #1761ff;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.toggle-button:hover {
  color: #ffffff;
}

.error-message {
  color: #ff5555;
  font-size: 1.2rem;
  text-align: center;
}
